<% provide(:title, 'Create new user') %>
<h1>Create new user</h1>

<div class="form-group edit-form">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <div><br></div>
      <%= f.submit "Create user", class: "btn btn-large btn-primary" %>
    <% end %>
</div>
