<div class="form-group search-form">
  <%= form_tag("/search", method: "get") do %>
    <%= text_field_tag(:q, nil, class: "form_control", placeholder: "Search people") %>
    <%= submit_tag("Search", class: "btn btn-default") %>
  <% end %>
</div>