<div class="form-group search-form">
  <%= form_tag('/search', method: 'get') do %>
    <%= text_field_tag(:query, nil, class: 'form_control', placeholder: 'Search people') %>
    <%= submit_tag('Browse', class: 'btn btn-default', id: 'directory-search-button') %>
  <% end %>
</div>