<div id="header">
  <%= link_to "LCC Directory", root_path, id: "logo" %>
  <% if signed_in? %>
    <%= link_to "Sign out", signout_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign in", signin_path %>
  <% end %>
</div>
